.formsAdministration{
    margin: auto;
    width: 500px;
    height: 530px;
    background-color: var(--gray);
    border: 5px solid var(--blue);
    border-radius: 20px;
    margin-bottom: 70px;
    text-align: center;
}

.title{
    color: #314795;
    font-size: 40px;
    margin: 25px 0px 10px 0px;
}

.wrapper{
    margin: auto;
    justify-content: left;
}

.subtitleA{
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 30px;
    display: flex;
    color: var(--blue);
}

.inputName, .inputDesc, .inputState, .inputCity{
    width: 433px;
    background-color: var(--white);
    color: black;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    border-bottom: 4px solid var(--blue);
    text-align: center;
}


.inputName{
    height: 25px;
}

.inputDesc{
    padding: 5px;
    resize: none;
}

.administratorHr{
    width: 260px;
    height: 5px;
    background-color: var(--blue);
    border-radius: 15px;
}

.registerButton{
    width: 20vh;
    background-color: var(--blue);
    color: var(--white);
    margin-top: 30px;
    border: 5px solid var(--white);
    border-radius: 10px;
}

.registerButton:hover{
    background-color: var(--lightble);
    color: var(--shadowgray);
    border: 5px solid var(--shadowgray);
}

.registerButton:active{
    background-color: var(--shadowblue);
    color: var(--gray);
    border: 5px solid var(--gray);
}