:root{
    --darkBlue: #31357F;
    --blue: #434CC1;
    --lightBlue: #D4DFFF;
    --gray: #F3F3F3;
    --darkGray: #cacaca;
}

h1, h2, h3, h4{
    margin: 0;
}

#container{
    justify-content: left;
    align-items: start;
}

/* BANNER */

#banner{
    background-color: var(--gray);
    display: flex;
    height: 25vw;
}

#informationDiv{
    margin-left: 3vw;
    justify-items: center;
}

#logo{
    width: 7vw;
    height: auto;
    margin-top: 3vw;
}

#name{
    margin: 0;
    color: var(--darkBlue);
    font-size: 4vw;   
}

#slogan{
    margin: 0;
    font-size: 2vw;
    color: var(--darkBlue);
    opacity: 0.7;
}

#imageDiv{
    overflow: hidden;
}

#image{
    position: relative;
    top: -8vw;
    width: 74vw;
    height: auto;
}

/* -------------------------------------------- */

hr#banner-navigation{
    background-color: var(--darkBlue);
    margin: 0;
    height: 0.5vw;
    width: auto;
}

/* NAVIGATION */

#navigation{
    background-color: var(--darkGray);
}

#navbar{
    background-color: var(--lightBlue);
    height: 2.5vw;
    width: 60vw;
    display: flex;
    margin: auto;
    border-radius: 0 0 40px 40px;
}

h2.navbarText{
    margin: auto;
    color: var(--blue);
    font-size: 1.5vw;
}

#newsInfo{
    margin-top: 2.5vw;
    margin-left: 3vw;
    display: flex;
    align-items: center;
}

#latestNews{
    color: var(--darkBlue);
    margin: 0;
    font-size: 3vw;
}

hr#news-filter{
    background-color: var(--darkBlue);
    opacity: 0.8;
    margin: 0.8vw 0px 0px 1vw;
    width: 0.3vw;
    height: 2.1vw;
    border-radius: 20px;
}

#filters{
    display: flex;
    align-items: center;
    margin-top: 1vw;
}

h3#filterText{
    color: var(--darkBlue);
    font-size: 1.2vw;
    margin: 0 1vw;
    line-height: 1.2;
}

h4#allNews{
    color: var(--darkBlue);
    opacity: 0.4;
    width: 13vw;
    font-size: medium;
    display: flex;
    margin-left: 1vw;
}

#cardWrapper{
    display: flex;
    margin: 1.5vw 0 2vw 2.3vw;
    margin-top: 2vw;
    margin-left: 3.2vw;
    gap: 1vw;
}