.c-navigation {
  background-color: var(--lightBlue);
  min-width: 90%;
  width: fit-content;
  margin-inline: auto;
  padding: 16px 32px;
  border-radius: 0 0 40px 40px;
}

.c-navigation__list {
  column-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.c-navigation__item {
  color: #434CC1;
  font-size: 24px;
  font-weight: 700;
  font-family: var(--raleway);
}

.c-navigation__item a{
  color: #434CC1;
}




